{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Class UpdateView{% endblock %}

{% block content %}
            <div class="card border-primary mb-3" style="width: 30rem">
                <div class="card-header">
                    <div class="text-center">Update Account</div>
                </div>


                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>

            　　　　　　　　　　　　　　　 {# インラインはinlinesという変数にリストで入っている #}
                    <p>Car Color</p>
                    <table>
                        {% for form in inlines %}
                            {{ form.as_table }}
                        {% endfor %}
                    </table>
                    <button type="submit">save</button>
                </form>


            </div>


{% endblock %}