{% extends 'base.html' %}

{% block title %}Django Ajax{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 mt-5">

                <form class="form-inline justify-content-center" method="post">
                    {% csrf_token %}
                    {% for fields in form %}
                        {{ fields }}
                    {% endfor %}
                    <button type="submit" class="btn-outline-success">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}