{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block title %}Class{% endblock %}

{% block content %}

            <div class="card border-primary mb-3" style="width: 30rem">
                <div class="card-header">
                    <div class="text-center">Create Course</div>
                </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="mx-5">
                            <p class="card-body mb-2">
                                {{ form|crispy }}
                            </p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Held Class</button>
                    </form>
            </div>


{% endblock %}