{% extends 'base.html' %}

{% load static %}
{% block title %}Register List{% endblock title %}


{% block head %}
{#    <link rel="stylesheet" href="{% static 'css/account/img.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/account/profile.css' %}">

{#    <script type="text/javascript" src="{% static 'js/nav.js' %}"></script>#}
{% endblock %}

{% block content %}
{#    <!--Table-->#}
{#    {% if user.is_superuser %}#}


    <h2>Apply Class</h2>

    <table class="table table-hover table-fixed">
{#        <!--Table head-->#}
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Subject</th>
            <th>Abstract</th>
            <th>Teacher</th>
{#            <th>date</th>#}
            <th>Approved</th>
            <th>Status</th>

        </tr>
        </thead>
{#        <!--Table head-->#}
        {% for register in registers %}

{#            <!--Table body-->##}
            <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ register.is_date }}</td>
                <td>{{ register.classes.subjects }}</td>
                <td>{{ register.classes.abstract }}</td>
                <td>{{ register.classes.teacher.username }}</td>
                <td>{{ register.classes.is_registered }}</td>
                <td>{{ register.is_registered }}</td>

            </tr>
            </tbody>

        {% endfor %}
{#        <!--Table body-->#}
    </table>


<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
            {% if page_obj.paginator.num_pages > 2 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            {% if page_obj.paginator.num_pages > 2 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
        {% endif %}
  </ul>







{% endblock %}
