{% bootstrap_css %}
{% bootstrap_javascript jquery=full %}
{% load crispy_forms_tags %}
{% load static %}
{% load icons %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

{#  <!-- Bootstrap core CSS -->#}

  <!-- Custom styles for this template -->
{#  <link href="css/users/simple-sidebar.css" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/simple-sidebar.css' %}">
     <!-- 最新のjQueryをgoogleのCDNから読み込む -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- 参考：jQueryUIも同時にgoogleのCDNから読み込む -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="text-center">
            <div class="mt-3">
                <div class="profile-userpic">
                    <img src="{{ user.image.url }}" class="profile-img" alt="">
                </div>
            </div>
        </div>
    <div class="mt-3">
      <div class="list-group list-group-flush">
{#          <div class="mt-3">#}
              <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
{#          </div>#}
          <div class="mt-1">
              <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-light">Home</a>
          </div>
              {% if user.is_student or user.is_superuser %}
                      <a href="{% url 'teacher' %}" class="list-group-item list-group-item-action bg-light">students</a>
              {% endif %}

        <a href="#" class="list-group-item list-group-item-action bg-light">teachers</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
              <li class="nav-item">
                  {% if user.is_teacher or user.is_superuser %}
                      <a class="nav-link" href="{% url 'teacher' %}">MessageToStudent</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'logout_confirm' %}">Logout</a>

                              <a class="dropdown-item" href="{% url 'update' user.pk %}">AccountUpdate</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'password_change'  %}">PasswordChange</a>
                          </div>

                      </li>
                  {% endif %}
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
{##}
{#  <!-- Bootstrap core JavaScript -->#}
{#  <script src="vendor/jquery/jquery.min.js"></script>#}
{#  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>